@(projects: List[Project], user: User)

@import helper._
    
@adminMain("Projects", "All of projects", user) {
  
  <body data-spy="scroll" data-target=".bs-docs-sidebar" data-twttr-rendered="true" id="projectlist">

  <div class="container">
    <!-- Docs nav
    ================================================== -->
    <div class="row">
      <div class="span3 bs-docs-sidebar">
        <ul data-spy="affix" data-offset-top="200" class="nav nav-list bs-docs-sidenav affix-top">
            @for(project <- projects){
				<li class="">
                  <a href="#@project.pid"><i class="icon-chevron-right"></i> @project.name</a></li>
            }
        </ul>
      </div>
      <div class="span9">

        <!-- ProjectList
        =================================================  -->
            @for(project <- projects){
            <section id="@project.pid" style="page-break-after:always">
          <div class="page-header">
            <br></br>
            <h1>@project.name</h1>
          </div>   
          <p class="lead" style="page-break-before:always">@project.description</p>
        </section>
            }
      </div>
    </div>
  </div>

    <!-- Footer
    ================================================== -->
    <footer class="footer">
      <div class="container">
        <p class="pull-right"><a href="#">Back to top</a></p>
      </div>
    </footer>
}
  

