@(users: List[User], user: User)

@import helper._

@adminMain("Users Manager", "Users manager", user) {
	<div class="span10">

			<h2>@users.size() user(s)</h2>

			<table class="table table-striped">
				<thead>
					<tr>
						<th>ID</th>
						<th>Type ID</th>
						<th>User Name</th>
						<th>Password</th>
						<th>Edit</th>
						<th>Delete</th>
					</tr> 
				</thead>
				<tbody>
					@for(u <- users) {
					<tr>
						<td>@u.uid</td>
						<td>@u.type_id</td>
						<td>@u.username</td>
						<td>@u.password</td>
						<td>edit button</td>
						<td>
							@form(routes.UserController.deleteUser(u.uid)) {
								<input type="submit" value="Delete" class="btn btn-danger">
							}
						</td>
					</tr>
					}

				</tbody>  
			</table>
		</div>
}