@(projects:List[Project], criteria:List[Criteria], projectForm: Form[Project],ballotForm: Form[Ballot], user: User, boxForm: Form[BallotBox])

@import helper._
@adminMain("Vote", user) {

    <script type="text/javascript">
    var pjid;
    
    function savepjid(id) {
        pjid = id;
    }

    function getpjid(y) {
        var pj = document.getElementById(y);
        pj.value = pjid;
    }

    function plusclick(id) {
        var num = document.getElementById(id);
        if (parseInt(num.value) < 10)
            num.value = parseInt(num.value)+1;
    }

    function minusclick(id) {
        var num = document.getElementById(id);
        if (parseInt(num.value) > 1)
            num.value = parseInt(num.value)-1;
    }

    $(document).ready(function(){

        $(".slidingDiv").hide();
        $('.selectTeam').click(function(){
            $(".projectlist").slideToggle(500);
            $(".slidingDiv").slideToggle();
        });

        $('.backToProject').click(function(){
            $(".projectlist").slideToggle();
        // $(".projectlist").slideToggle();
        $(".slidingDiv").slideToggle(500);
    });

        $('#p').click(function(){
            $('#score').attr('value', ($('#score').val() + 1));
            $('#score').text("fuck");
        });

    });

    </script>
<body data-spy="scroll" data-target=".bs-docs-sidebar" data-twttr-rendered="true" id="vote">
    <div class="container">
        <div class="row">
            <div class="span3 bs-docs-sidebar">
                <ul data-spy="affix" data-offset-top="200" class="nav nav-list bs-docs-sidenav affix-top">
                    <!-- <li class="">
                        <a href="#ballotsection"><i class="icon-chevron-right"></i>Ballots</a>
                    </li> -->
                    @for(project <- projects){
                        <li class="">
                            <a href="#nav@project.pid"><i class="icon-chevron-right"></i>@project.name</a>
                        </li>
                    }
                </ul>
            </div>
            <div class="span9">
                 <section id="ballotsection" style="page-break-after:always">
                    <div class="page-header">
                        <br></br>
                        <h1>Ballots</h1>
                    </div>   
                    <p class="lead" style="page-break-before:always">You have @user.ballotqnty ballot(s)</p>
                </section> 
                @for(project <- projects){
                    <section id="nav@project.pid" style="page-break-after:always">
                        <div class="page-header">
                            <h1>@project.name</h1>
                        </div>   
                        <!-- <p class="lead" style="page-break-before:always"></p> -->
                        @for(ct <- criteria) {
                            @form(routes.VoteController.voteForProject()) {
                            <tr>
                                <td>@ct.name</td>
                                <td>
                                    <div>
                                        <button onclick="minusclick('(p@project.pid)(c@ct.cid)')"name="minus" id="m" type="button" class="btn btn-small btn-danger">-</button>
                                        <input class="input-mini" name="ballot_qnty" id="(p@project.pid)(c@ct.cid)" value="1" readonly="readonly"></input>
                                        <button onclick="plusclick('(p@project.pid)(c@ct.cid)')" name="plus" class="btn btn-small btn-danger" type="button">+</button>
                                    </div>
                                </td>
                                <td>
                                    <input name="user_id" value="@user.uid" type="hidden"></input>
                                    <input name="project_id" id="c@ct.cid" type="hidden" value="@project.pid"></input>
                                    <button class="btn btn-mini btn-primary" name="criteria_id" value="@ct.cid">VOTE</button>
                                </td>
                            </tr>
                            } 
                        }
                        <p class="lead" style="page-break-before:always">@project.description</p>
                    </section>
                }
            </div>
        </div>
    </div>

    <div class="span12">
        <div class="slidingDiv"> 
            <a href="#" class="backToProject"><button class="btn btn-info">Back To ProjectList</button></a>
            <h3 id="myModalLabel">Choose Criteria for team XXX</h3>

            <div class="span9">
                <table class="table table-striped" align="center">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Criteria</th>
                            <th>Score (MAX:10)</th>
                            <th>Vote</th>
                        </tr> 
                    </thead>
                    <tbody>
                        @for(ct <- criteria) {
                            @form(routes.VoteController.voteForProject()) {
                            <tr>
                                <td>@ct.cid</td>
                                <td>@ct.name</td>
                                <td>
                                    <div>
                                        <button onclick="minusclick('score(@ct.cid)')"name="minus" id="m" type="button" class="btn btn-small btn-danger">-</button>
                                        <input class="input-mini" name="ballot_qnty" id="score(@ct.cid)" value="1" readonly="readonly"></input>
                                        <button onclick="plusclick('score(@ct.cid)')" name="plus" class="btn btn-small btn-danger" type="button">+</button>
                                    </div>
                                </td>
                                <td>
                                    <input name="user_id" value="@user.uid" type="hidden"></input>
                                    <input name="project_id" id="c@ct.cid" type="hidden"></input>
                                    <button onmouseover="getpjid('c@ct.cid')"class="btn btn-mini btn-primary" name="criteria_id" value="@ct.cid">VOTE</button>
                                </td>
                            </tr>
                            } 
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
}
