@(criteria:List[Criteria],criteriaForm:Form[Criteria], user: User)

@import helper._

@adminMain("Criteria Manager", "Manage all criteria", user) {
		<style type="text/css">
		
		.form-signin {
			max-width: 300px;
			padding: 19px 29px 29px;
			margin: 0 auto 20px;
			background-color: #F0EEEE;
			border: 1px solid #e5e5e5;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
			-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
			box-shadow: 0 1px 2px rgba(0,0,0,.05);
		}
		.form-signin .form-signin-heading,
		.form-signin .checkbox {
			margin-bottom: 10px;
		}
		.form-signin input[type="text"],
		.form-signin input[type="password"] {
			font-size: 16px;
			height: auto;
			margin-bottom: 15px;
			padding: 7px 9px;
		}
		</style>

	<body id="criteria">
		<div class="container" align="center" style="margin-top: 50px;">

			<div class="span6">
				@form(routes.CriteriaController.newCriteria(), 'class -> "form-signin"){
					<h2 class="form-signin-heading">Add criteria</h2>
					
					<div align="center">
						<input type="text" class="input-block-level" name="name" placeholder="Criteria"></input>
						<button class="btn btn-large btn-primary" type="submit">Add</button>
						<button class="btn btn-large btn-danger" type="reset">Cancel</button>
					</div>
				}
			</div>

			<div class="span8">
			<h2>@criteria.size() criteria(s) </h2>
			<!--<form class="form-signin">-->
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Criteria</th>
						<th>Delete/Edit</th>
					</tr> 
				</thead>

				<tbody>

					@for(ct<- criteria){
						<tr>
							<td>@ct.name</td>
							<td>
								@form(routes.CriteriaController.deleteCriteria(ct.cid)) {
									<button type="submit" class="btn btn-danger">Delete</input>

								}

								@form(routes.CriteriaController.getCriteria(ct.cid)) {
									<button type="submit" class="btn btn-warning">Edit</input>

								}

							</td>
						</tr>
					}

				</tbody>  
			</table>
			</div>
		</div>
	</body>
	
}