@(users: List[User], user: User)

@import helper._

@adminMain("Users Manager", "Manage the users", user) {
	<div class="container" align="center">

			<div class="span6" style="margin-top:20px;margin-left:100px">
				@form(routes.UserController.editUser(user.uid), 'class -> "form-signin"){
					<h2 class="form-signin-heading">Add user</h2>
					
					<div align="center">
						<input type="text" class="input-block-level" name="type_id" placeholder="type_id" value = "@user.type_id"></input>
						<input type="text" class="input-block-level" name="username" placeholder="username" value = "@user.username"></input>
						<input type="text" class="input-block-level" name="password" placeholder="password" value = "@user.password"></input>

						<button class="btn btn-large btn-primary" type="submit">Save</button>
						<button class="btn btn-large btn-danger" type="reset">Cancel</button>
					</div>
				}
				</div>
			<div class="span8" style="margin-left:100px">
			<h2>@users.size() user(s)</h2>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>ID</th>
						<th>Type ID</th>
						<th>User Name</th>
						<th>Password</th>
						<th>Edit</th>
						<th>Delete</th>
					</tr> 
				</thead>
				<tbody>
					@for(u <- users) {
					<tr>
						<td>@u.uid</td>
						<td>@u.type_id</td>
						<td>@u.username</td>
						<td>@u.password</td>
						<td>
							@form(routes.UserController.getUser(u.uid)) {
								<button type="submit" class="btn btn-danger">Edit</input>
							}
						</td>
						<td>
							@form(routes.UserController.deleteUser(u.uid)) {
								<button type="submit" class="btn btn-danger">Delete</input>
							}
						</td>
					</tr>
					}

				</tbody>  
			</table>
		</div>	
}